nodered/data/.flows.json.backup
[{"id":"689f4298.2412ac","type":"tab","label":"health","disabled":false,"info":""},{"id":"2b878e7e.fd1bd2","type":"tab","label":"joker","disabled":true,"info":""},{"id":"7dc59d66.f6364c","type":"mqtt-broker","z":"","name":"mqtt-service","broker":"mosquitto-service","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27bc8282.f9783e","type":"http in","z":"689f4298.2412ac","name":"health/nodered","url":"/health/nodered","method":"get","upload":false,"swaggerDoc":"","x":301,"y":180,"wires":[["f501f2f3.dbf908"]]},{"id":"6fc17017.2b9bb","type":"http response","z":"689f4298.2412ac","name":"health response","statusCode":"200","headers":{},"x":760,"y":180,"wires":[]},{"id":"f501f2f3.dbf908","type":"template","z":"689f4298.2412ac","name":"Ok response","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"status\": \"up\"}","output":"json","x":550,"y":180,"wires":[["6fc17017.2b9bb"]]},{"id":"15096a4a.12b6ae","type":"http in","z":"689f4298.2412ac","name":"health/mosquitto","url":"health/mosquitto","method":"get","upload":false,"swaggerDoc":"","x":300,"y":380,"wires":[["6339cdda.55d79c","182b80e.df276ff"]]},{"id":"182b80e.df276ff","type":"mqtt out","z":"689f4298.2412ac","name":"publish topic 'health'","topic":"health","qos":"2","retain":"","broker":"7dc59d66.f6364c","x":540,"y":300,"wires":[]},{"id":"fed3fe08.d88508","type":"http response","z":"689f4298.2412ac","name":"Up","statusCode":"200","headers":{},"x":1354,"y":400,"wires":[],"info":"The endpoint ALWAYS responds 202:Accepted. It must be confirmed separately that the message has been successfully sent to the mosquitto topic."},{"id":"6339cdda.55d79c","type":"delay","z":"689f4298.2412ac","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":440,"wires":[["b1f4e9f6.41a79"]]},{"id":"e3460200.5dafb8","type":"mqtt in","z":"689f4298.2412ac","name":"listen topic health","topic":"health","qos":"2","datatype":"auto","broker":"7dc59d66.f6364c","x":780,"y":300,"wires":[["696ef136.59e588"]]},{"id":"696ef136.59e588","type":"function","z":"689f4298.2412ac","name":"write mqttHealthStatusMessage to flow variable","func":"flow.set(\"mqttHealthStatus\", \"up\")","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":300,"wires":[[]]},{"id":"b1f4e9f6.41a79","type":"switch","z":"689f4298.2412ac","name":"Check mqttHealthStatus flow variable","property":"mqttHealthStatus","propertyType":"flow","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":790,"y":440,"wires":[["e2a1b21c.ef2128"],["363092ce.6c9cfe"]]},{"id":"aa5c619f.62128","type":"http response","z":"689f4298.2412ac","name":"Down","statusCode":"500","headers":{},"x":1353,"y":480,"wires":[]},{"id":"e2a1b21c.ef2128","type":"function","z":"689f4298.2412ac","name":"Up response and clean flow","func":"flow.set(\"mqttHealthStatus\", \"\")\n\nmsg.payload = {\n    status: \"up\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":400,"wires":[["fed3fe08.d88508"]]},{"id":"363092ce.6c9cfe","type":"function","z":"689f4298.2412ac","name":"Down response and clean flow","func":"flow.set(\"mqttHealthStatus\", \"\")\n\nmsg.payload = {\n    status: \"down\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":480,"wires":[["aa5c619f.62128"]]},{"id":"bf1099a7.a9867","type":"http in","z":"689f4298.2412ac","name":"health/influxdb","url":"health/influxdb","method":"get","upload":false,"swaggerDoc":"","x":300,"y":640,"wires":[["ec29757.12ae688"]]},{"id":"ec29757.12ae688","type":"http request","z":"689f4298.2412ac","name":"Call influxdb /health","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://influxdb-service:8086/health","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":640,"wires":[["bed053f3.a0949"]]},{"id":"1de57d9e.b1141a","type":"http response","z":"689f4298.2412ac","name":"Up","statusCode":"200","headers":{},"x":1270,"y":600,"wires":[]},{"id":"bed053f3.a0949","type":"switch","z":"689f4298.2412ac","name":"Switch","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":810,"y":640,"wires":[["6346356d.1b0714"],["f1a3b5ae.7f41e"]]},{"id":"6006b253.e9a4c4","type":"http response","z":"689f4298.2412ac","name":"Down","statusCode":"500","headers":{},"x":1270,"y":700,"wires":[]},{"id":"6346356d.1b0714","type":"function","z":"689f4298.2412ac","name":"Up response","func":"msg.payload = {\n    status: \"up\",\n    response: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":600,"wires":[["1de57d9e.b1141a"]]},{"id":"f1a3b5ae.7f41e","type":"function","z":"689f4298.2412ac","name":"Down response","func":"msg.payload = {\n    status: \"down\",\n    response: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":700,"wires":[["6006b253.e9a4c4"]]},{"id":"1dbcedb2.c5cce2","type":"inject","z":"2b878e7e.fd1bd2","name":"Inject message once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":250,"y":200,"wires":[["59b66f2c.5db8d"]]},{"id":"59b66f2c.5db8d","type":"function","z":"2b878e7e.fd1bd2","name":"now","func":"var now = new Date(Date.now());\n\nmsg.payload = {\n    now: now.toString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":200,"wires":[["2993048d.e6b164"]]},{"id":"2993048d.e6b164","type":"debug","z":"2b878e7e.fd1bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]}]